<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= messages.user.nickname %>
    </div>
    <div class="message-date">
      <%= messages.created_at.to_s(:datetime_jp) %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= messages.content %>
    </div>
    <%= image_tag messages.image.variant(resize: '300x300'), class: 'message-image' if messages.image.attached? %>
  </div>
</div>