<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname,'#' %>
  </div>
</div>

<div class="rooms">
    <div class="room">
      <div class="room-name">
        <%= @group.name %>
      </div>
    </div>
</div>