<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname,'#' %>
  </div>
</div>

<div class="rooms">
    <div class="room">
      <%= @group.name %>のメンバー
      <div class="room-name">
        <% @users.each do |user| %>
          <div class='users-nickname'>
            <%= user.nickname %>
          </div>
        <% end %>
      </div>
    </div>
</div>