<header class="header">
  <div class="app-title">MessageGroupApp</div>
</header>
<div class="first-content">
  <div class="main-title">メッセージアプリです</div>
  <div class="sub-title">application for you</div>
</div>
<div class="second-content">
  <div class="groups">ユーザー名さんのグループ一覧</div>
  <ul class="group-lists">
    <li class="group-list">ビジネス</li>
    <li class="group-list">家族</li>
    <li class="group-list">友人</li>
  </ul>
</div>