<div class="top-user-page">
  <%= @user.nickname %>さんのマイページ
</div>
<div class="middle-user-page">
  <div>
    ニックネーム
  </div>
  <div>
    <%= @user.nickname %>
  </div>
  <div>
    Eメール
  </div>
  <div>
    <%= @user.email %>
  </div>
</div>
