<div class="user-page">
  <div class="top-user-page">
    <div class="user-nickname">
      <%= @user.nickname %>さんのプロフィール
    </div>
  </div>
  <div class="middle-user-page">
    <div>
      ニックネーム
    </div>
    <div>
      <%= @user.nickname %>
    </div>
    <div>
      Eメール
    </div>
    <div>
      <%= @user.email %>
    </div>
  </div>
</div>
