.user-page {
  font-family: 'YuGothic';
}

.top-user-page {
  background-color: aqua;
  height: 20vh;
}

.user-nickname {
  padding: 40px;
  font-size: 50px;
  font-weight: bold;
}

.middle-user-page{
  background-color: lightcoral;
  height: 80vh;
}
